{% extends 'base.html' %}

{% block title %}Home - Rohit Kumar{% endblock %}

{% block content %}
<section id="about">
    <h2>About Me</h2>
    <div class="about-container">
        <div class="about-text">
            <p>Hi! I’m Rohit, a passionate developer interested in Web Development, AI/ML, and IoT. My goal is to build efficient and scalable solutions that make a difference. I’m Rohit, a passionate developer interested in Web Development, AI/ML, and IoT. My goal is to build efficient and scalable solutions that make a difference. I’m Rohit, a passionate developer interested in Web Development, AI/ML, and IoT. My goal is to build efficient and scalable solutions that make a difference.</p>
        </div>
        <div class="about-photo-container">
            <!-- REPLACE THIS URL with a link to your own photo -->
            <img src="{{ url_for('static', filename='profile_photo.jpeg') }}" alt="Profile Photo" class="profile-photo">
        </div>
    </div>
</section>

<section id="projects-preview">
    <h2>Recent Work</h2>
    <div class="horizontal-scroll-wrapper">
        <div class="projects-container-horizontal">
            {# This uses the same file to generate the preview #}
            {% include '_project_list.html' %}
        </div>
    </div>
    
    <div class="cta-container">
        <a href="{{ url_for('projects') }}" class="btn-resume">View All Projects</a>
    </div>
</section>

<section id="skills">
    <h2>Skills</h2>
    <ul class="tag-list">
        <li>Python</li>
        <li>C/C++</li>
        <li>HTML/CSS/JS</li>
        <li>IoT / Arduino / Raspberry Pi</li>
        <li>Cloud & DevOps</li>
        <li>Flask</li>
        <li>Database Management</li>
        <li>AI Robotics</li>

    </ul>
</section>

<section id="contact">
    <h2>Contact</h2>
    <p>
      <a href="mailto:rohitkumar81953@gmail.com" target="_blank">Email </a> |
      <a href="https://www.linkedin.com/in/rohit-kumar-855053199" target="_blank"> LinkedIn </a> |
      <a href="https://github.com/rohit70rk?tab=repositories" target="_blank"> GitHub</a>
    </p>
</section>
{% endblock %}